.cont {
  height: 100vh;
  background-color: #DACC96;
  padding-top: 10px;
}
img {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 10px;
}
.sm {
  display: flex;
  justify-content: space-around;
  padding-top: 0px;
}
.cwme {
  color: #635985;
  font-size: 30px;
}
.link {
  position: relative;
  text-align: center;
  top: -50px;
  margin: 20px;
}
.link:hover {
  font-size: 30px;
  color: darkblue;
}
.insta,
.linked {
  position: relative;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  margin: 20px;
  margin-top: 0px;
}
a
{
  color: #2C3639;
}

/* contact me */
.cme {
  background-color: #BF8B67;
  height: 50vh;
  padding-bottom: 30px;
}
.cm {
  color: #632626;
  font-size: 30px;
  /* margin: 30px; */
  padding-top: 10px;
  /* padding-bottom: 40; */
}
input,
textarea {
  margin: 5px;
}
label
{
  font-weight: 500;
}
input, textarea
{
  border: none;
  border-radius: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.load
{
  width: 50px;
  height: 100%;
  top: -20px;
}


@media (max-width: 500px) {
  img {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 10px;
  }
  .cont
  {
    height: 100vh;
  }
  .insta,
  .linked {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin: 20px;
  }
  .link {
    top: 0px;
  }
  .cwme
  {
    font-size: 25px;
  }
  .cm {
    font-size: 25px;
    margin: 10vh;
    padding-bottom:10px ;
  }
  .cme
  {
    height: 50vh;
    margin-bottom: 0;
    /* margin-top: -10px; */
  }
  table
  {
    margin: 0px;
  }
  .sm{
    height: 200px;
  }
}
