.edu {
  height: 100vh;
  position: relative;
  background-color: #662549;
  padding-top: 10px;
  padding-bottom: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  animation: fadeIn 0.75s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
ul {
  list-style: none;
}
.myedu {
  font-size: 30px;
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 75px;
  left: 40%;
}
.be,
.pu,
.hs,
.pr {
  position: relative;
  text-align: center;
  padding: 2px 0 0 10px;
  margin: 8px;
  top: 25px;
  margin-top: 200px;
}
.head {
  font-size: 22px;
  font-weight: 500;
}
.mark {
  font-weight: 500;
}
@media (max-width: 500px) {
  .be,
  .pu,
  .hs,
  .pr {
    display: flex;
    flex-direction: row;
    position: absolute;
    text-align: center;
    /* padding: 2px 0 0 10px; */
    margin: 10px;
    /* top: 90px; */
    /* margin-top: -50px; */
    /* margin-bottom: 100px; */
  }
  .be {
    top: 150px;
    /* left: 75px; */
    justify-content: center;
    text-align: center;
  }
  .pu {
    top: 300px;
    /* left: -150px; */
    justify-content: center;
  }
  .hs {
    top: 450px;
  }
  .pr
  {
    top: 600px;
  }
  .head {
    font-size: 18px;
    font-weight: 600;
  }
  .be li {
    font-size: 14px;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
  }
  .pu li {
    font-size: 14px;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
  }
  .hs li {
    font-size: 14px;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
  }
  .mark {
    font-weight: 600;
  }
  .myedu {
    font-size: 25px;
    position: absolute;
    /* text-align: center; */
    /* justify-content: center; */
    top: 10vh;
    left: 35%;

  }
  .pr li {
    font-size: 14px;
    text-align: center;
  }
  .edu {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  /* .be{
    left: 45px;
    top: -130px;
  } */
}
