.skill {
  height: 100vh;
}
.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  background-color: #f8ede3;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}
.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
  padding: 25px;
  justify-content: center;
}
h4 {
  text-align: center;
  margin: 5px;
}
.html5,
.css,
.JS,
.C,
.java,
.python {
  width: 100px;
  height: 100%;
}
.skil {
  text-align: center;
  /* background-color:#F8EDE3; */
  position: absolute;
  margin-top: -400px;
  justify-content: center;
  text-align: center;
}

@media (max-width: 500px) {
  .body {
    display: grid;
    flex-direction: column;
    margin: 0;
    background-color: #f8ede3;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
  }
  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 5px;
  }
  h4 {
    display: flexbox;
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .html5,
  .css,
  .JS,
  .C,
  .java,
  .python {
    width: 50px;
    height: 50%;
  }
  .skil {
    /* background-color: #F8EDE3; */
    position: relative;
    margin: 0px;
    text-align: center;
    justify-content: center;
    top: 15px;
    /* left: 37%; */
    padding: 10px;
}
}
@media (max-width: 770px) {
  .h1 {
    text-align: center;
    justify-content: center;
    background-color: #24180d;
    position: absolute;
    margin-top: -500px;
  }
}
